{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar" >
        <ul>
            <li><a href="{% url 'projects:home' %}">Домой</a></li>
            <li><a href="{% url 'projects:projects' %}">Проекты</a></li>
            <li><a href="{% url 'accounts:logout' %}">Выход</a></li>
        </ul>
    </nav>
    
    <div class="content" >

        {% block content %}

        {% endblock %}
    </div>


    <footer class="footer">
        &copy; Раиль Рафиков
    </footer>

</body>
</html>